@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poetsen+One&display=swap');

#root {
  width: 100vw;
}

.new_font {
  font-family: "Poetsen One", sans-serif !important;
  font-style: normal;
}

.App {
  min-height: 100vh;
  color: #303c31;
}

.title {
  text-align: center;
}

.home_component {
  min-height: 30vh;
  width: calc(100% - 40px);
  padding: 20px;
}

.perc_100 {
  width: 100% !important;
}


.blue {
  background-color: #216ce52f;
}

.menu {
  background-color: #396BBB !important;
}

.mw-400 {
  margin: 10px auto;
  max-width: 400px;
}

.mw-800 {
  margin: 10px auto;
  max-width: 800px;
}

p {
  font-weight: 10px !important;
}

.justify-text {
  text-align: justify;
}

.title_guide {
  margin-top: 40px;
  color: #396BBB !important;
}

.guide_divisor {
  margin: 80px 0;
}

.guide_content {
  border-radius: 60px;
  padding: 20px;
  color: #30343C;
  margin-bottom: 10vh;
}

.mx-50 {
  margin: 0px 50px !important;
}

.register_card {
  text-align: center;
}

.m-20 {
  margin: 20px 0px;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.flex{
  display: flex;
}

.flex_wrap_item {
  margin: 20px 20px;
  width: 300px !important;
  height: 350px !important;
}

.flex_wrap_image{
  height: 290px;
}

.white_text {
  color: whitesmoke !important;
}

.spacer {
  margin: 0px auto;
}

.ma-40 {
  margin: 40px;
}

.ma-20 {
  margin: 20px;
}

.risk_attention {
  background-color: #fbff2a;
}

.risk_danger {
  background-color: #ff5757;
}

.risk_card {
  border: 1px solid rgba(23, 23, 23, 0.858);
  padding: 5px 20px;
  border-radius: 10px;
  max-height: 24px;
}

.center{
  text-align: center !important;
}

#city_select {
  width: 300px !important;
}

#status_select {
  width: 330px !important;
  margin: 0 20px;
}